<!-- This view is controlled by the realController (see controller.js file-->

<script src="./static/js/myScript.js"></script>
	<!-- container to hold the values for the real infrastructure in NJ, having default values -->
	<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy" template-url="./static/directives/uiBreadcrumbs/uiBreadcrumbs.tpl.html" class="fillCrumb"></ui-breadcrumbs>

	<div class="container">
		<div class="row">
			<form class="col s6 z-depth-0">
			  <div class="row">
				<div class="col s6 offset-s9">
					<input name="group2" type="radio" id="bridgeReal" />
					<label for="bridgeReal">Bridge</label>
				</div>
			  </div>
			  <div class="row">
				<div class="col s6 offset-s9">
					<input name="group2" type="radio" id="pavementReal" />
					<label for="pavementReal">Pavement</label>
				</div>
			  </div>
			  <div class="row">
				<div class="col s12">
				<!-- Select button, when user clicks a value from dropdown, will call hasChanged function (see controller.js file-->
				 <select class="browser-default" name="mySelect" id="mySelect" ng-options="option.id as option.sri for option in availableOptions" ng-model="data.selectedOption" ng-change="hasChanged(data.selectedOption)">
					<option value="">Choose SRI</option>
				 </select>
				</div>
			  </div>
			  <div class="section">
				  <div class="row">
					<md-input-container class="md-icon-float md-block" flex-gt-sm="">
					  <label>Start Mile Post</label>
					  <input required="" name="sld_mp_st" step="any" type="number" ng-model="realData.sld_mp_st">
					  <md-icon><i class="material-icons">info_outline</i></md-icon> 
					  <md-tooltip md-direction="right" style="font-size: 14px;">
						 The start milepost for the selected SRI
					  </md-tooltip>
					</md-input-container>
				  </div>
				  <div class="row">
					<md-input-container class="md-icon-float md-block" flex-gt-sm="">
					  <label>End Mile Post</label>
					  <input required="" name="sld_mp_end" step="any" type="number" ng-model="realData.sld_mp_end">
 					  <md-icon><i class="material-icons">info_outline</i></md-icon> 
					  <md-tooltip md-direction="right" style="font-size: 14px;">
						 OMB Circular A-4 recommends using both 3% and 7% real rates.
					  </md-tooltip>
					</md-input-container>
				  </div>
				  <div class="row">
					<md-input-container class="md-icon-float md-block" flex-gt-sm="">
					  <label>Analysis Period</label>
					  <input value="30" required="" name="analysis" step="any" type="number" ng-model="realData.analysis">
					  <md-icon><i class="material-icons">info_outline</i></md-icon> 
					  <md-tooltip md-direction="right" style="font-size: 14px;">
						 The analysis period is the period of time during which the initial and any future costs for the project alternatives will be evaluated
					  </md-tooltip>
					</md-input-container>
				  </div>
				  <div class="row">
					<md-input-container class="md-icon-float md-block" flex-gt-sm="">
					  <label>Discount rate</label>
					  <input value="39" required="" name="disc_rate" step="any" type="number" ng-model="realData.disc_rate">
					  <md-icon><i class="material-icons">info_outline</i></md-icon> 
					  <md-tooltip md-direction="right" style="font-size: 14px;">
						 OMB Circular A-4 recommends using both 3% and 7% real rates.
					  </md-tooltip>
					</md-input-container>
				  </div>
				  <div class="row">
					<md-input-container class="md-icon-float md-block" flex-gt-sm="">
					  <label>Truck Percentage</label>
					  <input value="91.06" required="" name="truck" step="any" type="number" ng-model="realData.truck">
					  <md-icon><i class="material-icons">info_outline</i></md-icon> 
					  <md-tooltip md-direction="right" style="font-size: 14px;">
						 OMB Circular A-4 recommends using both 3% and 7% real rates.
					  </md-tooltip>
					</md-input-container>
				  </div>
				  <div class="row">
				    <!-- ui-sref to direct to the next page - lcca.html -->
					<a ui-sref="home.real.lcca" class="white-text" ng-click="setRealData(realData.analysis,realData.disc_rate,realData.truck)"><md-button class="md-primary md-raised">Continue</md-button></a>
				  </div>
			  </div>
			</form>
			<div class="col s6">
				<div id="map_canvas"></div>
			</div>
		</div>
	</div>
